.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card {
  
  margin-bottom: 40px;
  margin-left: 28%;
  color: black;
  background-color: wheat;
  border-style: solid;
  border-color: black;
  transition: 0.3s;
  width: 50%;
}
.move{
  display: flex;
  justify-content: space-around;
  margin-top: 50px; 
  padding-right:200px; 
}
.b{
  border-left: 6px solid rgb(16, 17, 16);
  height: 500px;
  margin-left:850px;
  margin-bottom: 900px;

}