body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  font-size: 200%;
  text-align: center;
}
.move{
  margin-left: 18%;
}
.move1{
  margin-left:27%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  width: 20%;
  padding-top: 20px;
  text-align: center;


}
.move2{
  margin-left:27%;
  box-shadow: 0 8px 16px 0 rgba(4, 248, 77, 0.2);
  border-radius: 10px;
  width: 20%;
  padding-top: 20px;
  text-align: center;
  background-color: darkgreen;

}
.move3{
  margin-left:16%;
  box-shadow: 0 8px 16px 0 rgba(4, 248, 77, 0.2);
  border-radius: 10px;
  width: 20%;
  padding-top: 20px;
  padding: auto;
  text-align: center;
  


}
.move4{
  margin-left:17%;
  box-shadow: 0 8px 16px 0 rgba(4, 248, 77, 0.2);
  border-radius: 10px;
  width: 20%;
  padding-top: 20px;
  text-align: center;
  background-color: darkgreen;

}
.container{
  margin-left: 35%;
}
.move5{
  margin-left: 37%;
}
.move1-1{
  display: flex;
}